{% block banner_campaign_active %}active{% endblock %}
{% block content_header %}Banner Campaign{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_banner_campaign')}}">Banner Campaign</a></li>
{% endblock %}
