{% block group_jobs_active %}active{% endblock %}
{% block apply_jobs_active %}active{% endblock %}
{% block content_header %}User Apply Jobs{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_user_apply_jobs')}}">User Apply Jobs</a></li>
{% endblock %}
