{% block group_jobs_active %}active{% endblock %}
{% block job_location_active %}active{% endblock %}
{% block content_header %}Job Location{% endblock %}
{% block content_header_desc %}{% endblock %}

{% block breadcrumb_sub %}
	<li>Job Location</li>
{% endblock %}
