{%block setting_group_active%}active{%endblock%}
{%block setting_job_available_active%}active{%endblock%}
{%block content_header%}Job Available Setting{%endblock%}

{%block breadcrumb_sub%}
	<li><a href="{{path('admin_setting_job_available')}}">Job Available Setting</a></li>
{%endblock%}
