{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %} {{data.getTitle}} | {% trans %}project.title_bar_name{% endtrans %} | {% trans %}project.title_bar_name{% endtrans %} {{ parent() }}{% endblock %}
{% block how_to_buy_active %}active{% endblock %}
{% block m_how_to_buy_active %}active{% endblock %}

{% block html_description %}{% trans %}acseine.how_to_buy.sub_head1{% endtrans %}{% endblock %}
{% block html_keywords %}{% trans %}acseine.how_to_buy.html_keywords{% endtrans %}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
	<div class="container breadcrumb_in">
		<div class="breadcrumb_items">
			<a href="{{path('homepage')}}" class="active">{% trans %}acseine.breadcrumb.top{% endtrans %}</a>
		</div>
		<div class="breadcrumb_items">
			{% trans %}menu.how.to.buy{% endtrans %}
		</div>
	</div>
</div>
<!-- /breadcrumb -->
<div class="container title_category">
	<h1>{% trans %}menu.how.to.buy{% endtrans %}</h1>
</div>
{% endblock %}

{% block content %}
    <section class="section-padding">
        <div class="container">
            {{data.getContent|raw}}
        </div>
    </section>
{% endblock %}
