{% extends "ProjectBundle:"~ view_layout ~":layout.html.twig" %}

{% block title %}{% trans %}acseine.menu.web_terms_of_use{% endtrans %} | {% trans %}project.title_bar_name{% endtrans %} {{ parent() }}{% endblock %}
{% block home_active %}active{% endblock %}
{% block m_home_active %}active{% endblock %}

{% block html_description %}{% trans %}acseine.terms_of_use.sub_head1{% endtrans %}{% endblock %}
{% block html_keywords %}{% trans %}acseine.terms_of_use.html_keywords{% endtrans %}{% endblock %}

{% block main_class %}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb">
	<div class="container breadcrumb_in">
		<div class="breadcrumb_items">
			<a href="{{path('homepage')}}" class="active">{% trans %}acseine.breadcrumb.top{% endtrans %}</a>
		</div>
		<div class="breadcrumb_items">
			{% trans %}acseine.breadcrumb.web_terms_of_use{% endtrans %}
		</div>
	</div>
</div>
<!-- /breadcrumb -->
<div class="container title_category">
	<h1>{% trans %}acseine.breadcrumb.web_terms_of_use{% endtrans %}</h1>
</div>
{% endblock %}

{% block content %}
<!-- /title_table -->
<section  id="terms-of-use" class="terms-of-use">
	<div class="main-content container">
		{{data.getContent|raw}}
	</div>
</section>
{% endblock %}
